
  {{!-- <section id="newsSection">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="latest_newsarea"> <span>Latest News</span>
          <ul id="ticker01" class="news_sticker">
            <li><a href="#"><img src="images/news_thumbnail3.jpg" alt="">My First News Item</a></li>
            <li><a href="#"><img src="images/news_thumbnail3.jpg" alt="">My Second News Item</a></li>
            <li><a href="#"><img src="images/news_thumbnail3.jpg" alt="">My Third News Item</a></li>
            <li><a href="#"><img src="images/news_thumbnail3.jpg" alt="">My Four News Item</a></li>
            <li><a href="#"><img src="images/news_thumbnail3.jpg" alt="">My Five News Item</a></li>
            <li><a href="#"><img src="images/news_thumbnail3.jpg" alt="">My Six News Item</a></li>
            <li><a href="#"><img src="images/news_thumbnail3.jpg" alt="">My Seven News Item</a></li>
            <li><a href="#"><img src="images/news_thumbnail3.jpg" alt="">My Eight News Item</a></li>
            <li><a href="#"><img src="images/news_thumbnail2.jpg" alt="">My Nine News Item</a></li>
          </ul>
          <div class="social_area">
            <ul class="social_nav">
              <li class="facebook"><a href="#"></a></li>
              <li class="twitter"><a href="#"></a></li>
              <li class="flickr"><a href="#"></a></li>
              <li class="pinterest"><a href="#"></a></li>
              <li class="googleplus"><a href="#"></a></li>
              <li class="vimeo"><a href="#"></a></li>
              <li class="youtube"><a href="#"></a></li>
              <li class="mail"><a href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section> --}}
  
  <section id="sliderSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">

        <div class="slick_slider">
            {{#each postsThongbao}}
              <div class="single_iteam"> <a href="/post/{{_id}}"> <img src="{{imgurl}}" alt=""></a>
            <div class="slider_article">
              <h2><a class="slider_tittle" href="/post/{{_id}}">{{title}}</a></h2>
              <p>{{description}}</p>
            </div>
          </div>
            {{/each}}
          
        </div>


      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="latest_post">
          <h2><span>Tin hoạt động</span></h2>

          <div class="latest_post_container">

            <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
            <ul class="latest_postnav">
                {{#each postsTinhoatdong}}
                   <li>
                <div class="media"> <a href="/post/{{_id}}" class="media-left"> <img alt="" src="{{imgurl}}"> </a>
                  <div class="media-body"> <a href="/post/{{_id}}" class="catg_title">{{title}}</a> </div>
                </div>
              </li>
                {{/each}}
          
            </ul>
            <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div id="tindaotao" class="left_content">
          <div class="single_post_content">
            <h2><span>TIN ĐÀO TẠO</span></h2>

            <div class="single_post_content_left">
              <ul class="business_catgnav  wow fadeInDown">
                <li>
                  <figure class="bsbig_fig"> <a href="" class="featured_img"> <img alt="" src="https://hou.edu.vn/files/anhbaiviet/Images/2021/thang%208/23.8%20Quy%20che%20dao%20tao/Quy%20che%20dao%20tao%20DH.png"> <span class="overlay"></span> </a>
                    <figcaption> <a href="">Quy chế đào tạo trình độ Đại học của Trường ĐH Mở Hà Nội</a> </figcaption>
                    <p>Quyết định số 4004/QĐ-ĐHM ngày 09/08/2021 về việc ban hành Quy chế đào tạo trình độ Đại học tại Trường Đại học Mở Hà Nội.</p>
                  </figure>
                </li>
              </ul>
            </div>
            <div class="single_post_content_right">
              <ul class="spost_nav">
                {{#each postsTindaotao}}
                  <li>
                  <div class="media wow fadeInDown"> <a href="/post/{{_id}}" class="media-left"> <img alt="" src="{{imgurl}}"> </a>
                    <div class="media-body"> <a href="/post/{{_id}}" class="catg_title">{{title}}</a> </div>
                  </div>
                </li>
                {{/each}}
                
            
              </ul>
            </div>
          </div>
          <div class="fashion_technology_area">
            <div class="fashion">
              <div class="single_post_content">
                <h2><span>Tốt nghiệp</span></h2>
                <ul class="business_catgnav wow fadeInDown">
                  <li>
                    <figure class="bsbig_fig"> <a href="" class="featured_img"> <img alt="" src="https://cdn.tgdd.vn/Files/2021/07/21/1369900/cong-nghe-thong-tin-la-nganh-gi-hoc-cntt-ra-truon-760x367.jpg"> <span class="overlay"></span> </a>
                      <figcaption> <a href="">Thư ngỏ mời tham gia Khảo sát ý kiến của người sử dụng lao động ngành CNTT</a> </figcaption>
                      <p>Khoa CNTT trân trọng kính mời các công ty, cơ quan, doanh nghiệp có sử dụng nhân sự CNTT tham gia khảo sát này!</p>
                    </figure>
                  </li>
                </ul>
                <ul class="spost_nav">
                  {{#each postsTotnghiep}}
                    <li>
                    <div class="media wow fadeInDown"> <a href="/post/{{_id}}" class="media-left"> <img alt="" src="{{imgurl}}"> </a>
                      <div class="media-body"> <a href="/post/{{_id}}" class="catg_title"> {{title}}</a> </div>
                    </div>
                  </li>
                  {{/each}}
                  
                  
                </ul>
              </div>
            </div>
            <div class="technology">
              <div class="single_post_content">
                <h2><span>Bản Tin OTSC</span></h2>
                <ul class="business_catgnav">
                  <li>
                    <figure class="bsbig_fig wow fadeInDown"> <a href="" class="featured_img"> <img alt="" src="/images/123.jpg"> <span class="overlay"></span> </a>
                      <figcaption> <a href="">OTSC tuyển thực tập viên các vị trí Designer, Developer, Tester</a> </figcaption>
                      <p>OTSC tiếp tục mở cửa đón nhận sinh viên FITHOU tham gia thực tập và rèn luyện để trở thành những Desinger, Developer, Tester có tay nghề cao trong tương lai.</p>
                    </figure>
                  </li>
                </ul>
                <ul class="spost_nav">
                  {{#each postsOTSC}}
                     <li>
                    <div class="media wow fadeInDown"> <a href="/post/{{_id}}" class="media-left"> <img alt="" src="{{imgurl}}"> </a>
                      <div class="media-body"> <a href="/post/{{_id}}" class="catg_title">{{title}}</a> </div>
                    </div>
                  </li>
                  {{/each}}
                 
                  
                </ul>
              </div>
            </div>
          </div>

          <div class="single_post_content">
            <h2><span>Photography</span></h2>
            <ul class="photograph_nav  wow fadeInDown">
              <li>
                <div class="photo_grid">
                  <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="" title="Photography Ttile 1"> <img src="images/IMG_1 (1).jpg" style="object-fit: cover;" alt=""/></a> </figure>
                </div>
              </li>
              <li>
                <div class="photo_grid">
                  <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="" title="Photography Ttile 2"> <img src="images/IMG_1 (8).jpg" style="object-fit: cover;" alt=""/> </a> </figure>
                </div>
              </li>
              <li>
                <div class="photo_grid">
                  <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="" title="Photography Ttile 3"> <img src="images/IMG_1 (9).jpg" style="object-fit: cover;" alt=""/> </a> </figure>
                </div>
              </li>
              <li>
                <div class="photo_grid">
                  <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="" title="Photography Ttile 4"> <img src="images/IMG_1 (10).jpg" style="object-fit: cover;" alt=""/> </a> </figure>
                </div>
              </li>
              <li>
                <div class="photo_grid">
                  <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="" title="Photography Ttile 5"> <img src="images/IMG_1 (11).jpg" style="object-fit: cover;" alt=""/> </a> </figure>
                </div>
              </li>
              <li>
                <div class="photo_grid">
                  <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="" title="Photography Ttile 6"> <img src="images/IMG_2.jpg" style="object-fit: cover;" alt=""/> </a> </figure>
                </div>
              </li>
            </ul>
          </div>
     
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>Kế hoạch đào tạo</span></h2>
            <ul class="spost_nav">
              {{#each postsKehoach}}
                <li>
                <div class="media wow fadeInDown"> <a href="/post/{{_id}}" class="media-left"> <img alt="" src="{{imgurl}}"> </a>
                  <div class="media-body"> <a href="/post/{{_id}}" class="catg_title">{{title}}</a> </div>
                </div>
              </li>
              {{/each}}
              
             
            </ul>
          </div>
          <div class="single_sidebar">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Tag</a></li>
              <li role="presentation"><a href="#video" aria-controls="profile" role="tab" data-toggle="tab">Video</a></li>
              {{!-- <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Comments</a></li> --}}
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="category">
                <ul>
                  <li class="cat-item"><a href="#">Fit Hou</a></li>
                  <li class="cat-item"><a href="#">Tin hoạt động</a></li>
                  <li class="cat-item"><a href="#">Quy chế</a></li>
                  <li class="cat-item"><a href="#">Học tổng</a></li>
             
                </ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="video">
                <div class="vide_area">
                  <iframe width="100%" height="250" src="http://www.youtube.com/embed/s1-gl7wJ-Rs" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="comments">
                <ul class="spost_nav">
                  <li>
                    <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
                      <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img2.jpg"> </a>
                      <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
                      <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img2.jpg"> </a>
                      <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Liên kết trang</span></h2>
            <a class="sideAdd" href="https://hou.edu.vn/"><img src="images/lkt.jpg" style="object-fit: cover;" alt=""></a> </div>
          {{!-- <div class="single_sidebar wow fadeInDown">
            <h2><span>Category Archive</span></h2>
            <select class="catgArchive">
              <option>Select Category</option>
              <option>Life styles</option>
              <option>Sports</option>
              <option>Technology</option>
              <option>Treads</option>
            </select>
          </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Links</span></h2>
            <ul>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Rss Feed</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Life &amp; Style</a></li>
            </ul>
          </div> --}}
        </aside>
      </div>
    </div>
  </section>